.full-screen {
  width: 100vw;
  height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.rounded {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 100px;
}