img.small {
  width: var(--3);
}

img.medium {
  width: var(--6);
}

img.large {
  width: var(--9);
}

img.xl {
  width: var(--12);
}

img.small.square {
  height: var(--3);
}

img.medium.square {
  height: var(--6);
}

img.large.square {
  height: var(--9);
}

img.xl.square {
  height: var(--12);
}

.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}

.img-fill {
  object-fit: fill;
}

